*{
    background:rgba(106, 98, 197, 0.90);
    background:rgba(79, 88, 95, 0.2);
    background:rgb(247, 247, 247);
    background:rgba(247, 247, 247, 0.301);
    background:rgba(254, 254, 254, 0.9);
    
    
}
